<div class="mb-20 flex w-full justify-center bg-gray-900 py-20 pb-16">
  <div class="wid flex align-middle">
    <div class="pt-10">
      <h1 class="mb-5 text-5xl text-cyan-300 md:text-5xl">Itch Tailwind</h1>
      <p class="text-xl">
        Local development environment for itch.io project pages, based on
        <a class="font-bold text-pink-500 hover:underline" href="https://vitejs.dev">Vite</a> and
        <a class="font-bold text-pink-500 hover:underline" href="https://tailwindcss.com/"
          >TailwindCSS</a
        >
      </p>
      <div class="mt-12">
        <a
          href="https://github.com/billiam/create-itch-tailwind"
          class="mr-5 inline-block rounded-full border-2 border-cyan-600 bg-cyan-300 px-6 py-2 text-black transition-all hover:border-cyan-600 hover:bg-cyan-400 focus:outline-0 focus:ring-4 focus:ring-blue-300"
          >Github</a
        >
        <a
          href="https://www.npmjs.com/package/create-itch-tailwind"
          class="inline-block rounded-full border-2 border-cyan-600 bg-cyan-300 px-6 py-2 text-black transition-all hover:border-cyan-600 hover:bg-cyan-400 focus:outline-0 focus:ring-4 focus:ring-blue-300"
          >NPM</a
        >
      </div>
    </div>

    <img
      width="571"
      height="620"
      class="max-w-40 object-contain md:max-w-80"
      src="https://img.itch.zone/aW1nLzE1MTk4OTEyLnBuZw==/original/mZ0MgA.png"
    />
  </div>
</div>
