<div class="mb-12 flex w-full justify-center bg-gray-700 py-16">
  <div class="wid">
    <a name="installation"></a>
    <h2 class="mb-3 text-3xl">Installation and Usage</h2>

    <p class="mb-3">Download and extract Itch Tailwind</p>
    <p class="mb-3">
      Run
      <code class="inline-code">npm install</code>
      to install project dependencies
    </p>
    <p class="mb-3">
      Download your current project templates with
      <code class="inline-code whitespace-nowrap"
        >npm run fetch-templates https://yourname.itch.io/projectname</code
      >
    </p>
    <p class="mb-3">
      Start the development server with <code class="inline-code">npm run start</code>
    </p>
    <p class="mb-3">
      When you're ready, build your new assets with <code class="inline-code">npm run build</code>
    </p>
    <p class="mb-3">
      Copy your HTML to your itch project page, and your CSS to your page theme's CSS field.
    </p>
    <p>
      You can use <code class="inline-code">npm run copy-css</code> and
      <code class="inline-code">npm run copy-html</code> to copy the contents of your built files to
      the clipboard
    </p>
  </div>
</div>
